* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.principal {
  background-color: #f0f2f5;
  display: flex;
  /* max-width: 100%; */
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.izquierda {
  width: 40%;
  height: 40%;
  margin-left: 10%;
}

/* .izquierda .context {} */

.title {
  color: #1e7af2;
  font-size: 4rem;
}

.context {
  color: black;
  font-size: 2rem;
}

.derecha {
  width: 30%;
  margin-top: 8%;
  margin-right: 8%;
}

.login {
  /* word-wrap: break-word; */
  background-color: white;
  /* height: 40%; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 5px 2px 30px -10px black;
}

.login input {
  padding: 1em;
  width: 90%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border: 1px solid #dfe1e4;
  border-radius: inherit;
  font-size: 15px;
}

.login a {
  color: #1e7af2;
  text-decoration: none;
  font-weight: 200;
}

.login a:hover {
  text-decoration: underline;
}

.login hr {
  width: 90%;
  margin-bottom: 1.5em;
}

.login :nth-child(4) {
  background-color: #1e7af2;
  color: white;
  font-size: 1.2em;
  padding: 0.6em;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0px;
}

.login :nth-child(9) {
  background-color: #42b72a;
  width: 50%;
  color: white;
  font-size: 1em;
  padding: 0.8em;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0px;
}

.pie-login {
  letter-spacing: 0.25px;
  color: black;
  margin: 2em 0.5em;
  text-align: center;
  /* padding: 2rem; */
}

.pie-login span {
  font-weight: bold;
}

.pie-login span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  margin-top: 1.5em;
}

.languages {
  width: 80%;
  margin: auto;
  margin-left: 13%;
}

.languages ul {
  display: flex;
  list-style: none;
}

.languages li {
  margin: 10px 10px 10px 0px;
}

.languages a {
  text-decoration: none;
  color: #929292;
}

.languages a:hover {
  text-decoration: underline;
}

.languages button {
  padding: 2px 6px;
  cursor: pointer;
  justify-content: center;
}

/* .languages hr {
     margin: 0.5%; 
} */

.opciones {
  width: 80%;
  height: 15vh;
  margin: auto;
  margin-left: 13%;
}

.opciones ul {
  display: flex;
  flex-wrap: wrap;
}

.opciones ul li {
  list-style: none;
  margin: 7px 7px 7px 0px;
  /* font-size: medium; */
}

.opciones ul li a {
  text-decoration: none;
  color: #929292;
}

.opciones ul li a:hover {
  text-decoration: underline;
}

.informacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #929292;
}

/* Media Query */

@media screen and (max-width: 1200px) {
  /* .principal {} */
  .derecha {
    margin-top: 12%;
    margin-right: 5%;
  }
  .login input {
    padding: 1em;
    margin-bottom: 8px;
  }
  .login a {
    font-size: 14px;
  }
  .pie-login {
    letter-spacing: 0.25px;
    margin-top: 1.9em;
    font-size: 14px;
  }
  .footer {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  /* .principal {
        background-color: blue;
    } */
  .izquierda {
    margin-left: 0;
    padding-right: 10px;
  }
  .izquierda .context {
    font-size: 28px;
  }
  .derecha {
    width: 40%;
    margin-right: 0%;
    margin-top: 14%;
  }
  .login a {
    font-size: 16px;
  }
  .pie-login {
    letter-spacing: 0;
    font-size: 18px;
  }
  .languages {
    margin-left: 5%;
    width: 90%;
  }
  .opciones {
    margin-left: 5%;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .principal {
    background-color: yellow;
  }
  .pie-login {
    background-color: red;
  }
}

@media (max-width: 576px) {
  .principal {
    background-color: green;
  }
}
